ollama
python-dotenv==0.21.1 ; python_version >= "3.9" and python_full_version < "3.12"
qdrant-client==1.12.0 ; python_version >= "3.9" and python_full_version < "3.12"
fastapi 
uvicorn
starlette
openai
numpy
torch
sentence-transformers==2.7.0 ; python_version >= "3.9" and python_full_version < "3.12"